.Allpages {
  background-color: aliceblue;
}
.homeSlider {
  height: 50rem;
}

.victimMainImg {
  width: 20rem;
  height: 15rem;
}
.cardstyle {
  margin-bottom: 20rem;
}
@media (max-width: 500px) {
  .homepage {
   padding-bottom: 5rem;
  }
  .homeSlider {
    height: 20rem;
  }
  .homebtn {
    height: 10rem;
    width: 10rem;
  }
  .victimMainImg {
    width: 20rem;
    height: 15rem;
  }
  .cardstyle {
    margin: 0px 10px;
    /* padding:0px 10px; */
  }
}
